@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    /* max-width: 1920px; */
    margin: 0 auto;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 220.9 39.3% 11%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 224 71.4% 4.1%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

/* @layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
} */

/* custom scrollbar*/
*,
html {
    scroll-behavior: smooth;
    /* scrollbar-gutter: stable;
  scrollbar-width: thin; */
}

/* fix radix dropdown-menu layout shift html body[data-scroll-locked] {
  margin-right: 0 !important;
} */

/* Theme thirty one classes  */
.bg-thirty-one {
    background-color: black;
    color: white;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background-color: #f1593a;
    border-radius: 5px;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

/* .............. framework design.............. */

.divider {
    display: flex;
    align-items: center;
    height: 1rem /* 16px */;
    margin-top: 1rem /* 16px */;
    margin-bottom: 1rem /* 16px */;
}

.divider:after,
.divider:before {
    content: '';
    flex-grow: 1;
    --tw-bg-opacity: 1;
    --tw-bg-opacity: var(--tw-border-opacity, 0.1);
    background-color: hsla(var(--bc) / var(--tw-bg-opacity, 1));
    height: 0.125rem /* 2px */;
}

.divider:after,
.divider:before {
    content: '';
    flex-grow: 1;
    --tw-bg-opacity: 1;
    --tw-bg-opacity: var(--tw-border-opacity, 0.1);
    background-color: hsla(var(--bc) / var(--tw-bg-opacity, 1));
    height: 0.125rem /* 2px */;
}

.divider:not(:empty):before {
    margin-right: 1rem /* 16px */;
}

.divider:not(:empty):after {
    margin-left: 1rem /* 16px */;
}

.inner {
    visibility: hidden;
}

.innerLeft {
    visibility: hidden;
}

.innerright {
    visibility: hidden;

    transform: translateX(0px);
}

.demo:hover .inner {
    visibility: visible;
    transform: translateX(0px);
}

.demo:hover .innerLeft {
    visibility: visible;
    transform: translateX(-42px);
}

.demo:hover .innerright {
    transform: translateX(42px);
    visibility: visible;
}

.apiHtml > ul {
    list-style: disc outside;
    margin-left: 15px;
}
.apiHtml > ol {
    list-style: decimal outside;
    margin-left: 15px;
}

@media only screen and (min-width: 766px) and (max-width: 1100px) {
    .demo:hover .innerLeft {
        visibility: visible;
        transform: translateX(-12px);
    }

    .demo:hover .innerright {
        transform: translateX(12px);
        visibility: visible;
    }
}
@media only screen and (min-width: 1250px) and (max-width: 1500px) {
    .demo:hover .innerLeft {
        visibility: visible;
        transform: translateX(-12px);
    }

    .demo:hover .innerright {
        transform: translateX(12px);
        visibility: visible;
    }
}

.swiper-wrapper {
    display: flex;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.sh1 {
    box-shadow: 0 0 5px 0.1px black;
}
